extends layout.pug 

block content
    h1= err.message
    h2= err.status
     p= err.stack

     style. 
          .wrapper { 
            background-image: url('/static/images/500.png')
            } 
            
    nav.nav(style={ 'border-bottom-color': 'transparent'})
      a(href='/')
        span &larr;
        |  Back